---
const { books } = Astro.props
---
<section id='textbooks'>
	<hr/>
		<h2>Course Textbooks</h2>
		<ul class="textbooks">
			{ books && books.map(b=>(
				<li>
				<a target="_blank" href={'/topics/books/'+ b.url}>
					<img src={'/images/book-covers/' + b.image} alt={b.title}/>
				</a>
				<h5>{b.title}</h5>
						{b?.author && (<p><strong>Author(s):</strong> {b.author}</p>)}
						{b?.isbn && (<p><strong>ISBN:</strong> {b.isbn}</p>)}
				</li>
			))}
		</ul>
	</section>