<section id="requirements">
      <hr />
<h2>Class Guidelines</h2>
<dl class="requirements accordion">
      <dt><h3>Attendance</h3></dt>
      <dd>
            <p>
                  Students are required to attend class every day. Digital
                  Design classes are mandatory. All absences are considered
                  unexcused unless one of the following circumstances can be
                  verified.
            </p>
            <p><strong><u>Excused</u> Absences</strong></p>
            <ul>
                  <li>Conflicting medical callout</li>
                  <li>Religious callout once ebery two weeks</li>
                  <li>Unspecified but official conflicting callout</li>
                  <li>In-person visit</li>
                  <li>Sick (signed layin log)</li>
            </ul>
            <p>
                  <strong><u>Unexcused</u> Absences</strong> will progressively result
                  in:
            </p>
            <ol>
                  <li>Negative behaviour observation (first absence)</li>
                  <li>Infraction (second absence)</li>
                  <li>Program review (third absence)</li>
            </ol>
      </dd>
      <dt><h3>Behavior</h3></dt>
      <dd>
            <p>
                  Students are expected to conduct themselves in a respectful
                  manner. All opinions should be respected, as well as the
                  learning environment. Everyone learns differently, so everyone
                  should be supportive and encouraging. Please follow these
                  guidelines:
            </p>
            <ul>
                  <li>
                        Students must use appropriate language, as if they were
                        in a workplace or their grandmother was standing next to
                        them. No swearing, crude slang or gang language is
                        allowed.
                  </li>
                  <li>
                        No sign language is allowed inside the classroom or on
                        the education floor.
                  </li>
                  <li>
                        Horseplay (pushing, shoving, or pretend fighting) is not
                        allowed.
                  </li>
                  <li>
                        Students should not tip back in chairs. They may fall
                        over and get hurt.
                  </li>
                  <li>
                        Students must respect classroom materials (books,
                        tables, chairs, computers, etc.). The College has very
                        limited budgets for materials. Students must not write
                        on them or damage them in any way.
                  </li>
                  <li>No food or beverages are allowed in class.</li>
                  <li>Hats, coats and sunglasses are not allowed in class.</li>
            </ul>
      </dd>
      <dt><h3>Work Ethic, Materials and Assignments:</h3></dt>
      <dd>
            <ul>
                  <li>
                        Students will be provided a folder, paper, pencil, and
                        necessary books and a laptop. Additional supplies will
                        be provided only when they have made when a student runs
                        out of the supplies they were originally issued.
                  </li>
                  <li>
                        It is also the responsibility of each student to come to
                        class everyday prepared just as he would go to work and
                        complete your job. Failure to do this will result in
                        disciplinary action (just like if they were at a job
                        site).
                  </li>
                  <li>
                        Any books checked out from the classroom will need to
                        have the appropriate cards completed and given to the
                        instructor. Students must not write in any of the books
                        that are checked out. When students complete a course,
                        they should return the books to the instructor so that
                        other students may use them. If students know that they
                        are going to be transferred or released, they should
                        return their books to the instructor before leaving the
                        facility.
                  </li>
            </ul>
      </dd>
      <dt><h3>Learning Outcomes Assessment and Grades</h3></dt>
      <dd>
            <p>
                  Learning is a process, and assessment is an important step to
                  determine how that process is going. In this course,
                  assessment includes a variety of ways in which the students
                  demonstrate their achievement of course learning outcomes.
                  These may be adjusted for mode of delivery or circumstances.
            </p>
      </dd>
      <dt><h3>Grading</h3></dt>
      <dd>
            <p>
                  All assignments, quizzes and study guides will be graded and
                  returned to the students in a timely manner. Students will be
                  assigned a letter grade according to the percentages as
                  outlined above.
            </p>
            <table>
                  <thead>
                        <tr>
                              <th>Grading Scale</th>
                              <th></th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td>90% &#x2013; 100%</td>
                              <td>A</td>
                        </tr>
                        <tr>
                              <td>80% &#x2013; 89.9%</td>
                              <td>B</td>
                        </tr>
                        <tr>
                              <td>70% &#x2013; 79.9%</td>
                              <td>C</td>
                        </tr>
                        <tr>
                              <td>60% &#x2013; 69.9%</td>
                              <td>D</td>
                        </tr>
                        <tr>
                              <td>0% &#x2013; 59.9%</td>
                              <td>F</td>
                        </tr>
                  </tbody>
            </table>
      </dd>
      <dt><h3>Alternate plan</h3></dt>
      <dd>
            <p>
                  In the event that a change needs to be made to regularly
                  scheduled classes due to lockdowns, students will be given
                  study packets to complete in their cells. These study packets
                  must be completed in a timely manner to earn a satisfactory
                  grade in the class. If the study packets are not completed,
                  the student may be given a negative behavior observation
                  report, an unsatisfactory grade and/or an infraction.
            </p>
      </dd>
</dl>
</section>