<hr>
<h2>Diversity & Inclusion</h2>
<dl class="accordion diversity">
  <dt><h3>Statement</h3></dt>
  <dd>
    <p>
      WWCC strives to promote diversity, equity and inclusion, not only because
      diversity fuels excellence and innovation, but because we want to pursue
      justice. Each of us is responsible for creating a safer, more inclusive
      environment.
    </p>
    <p>
      Furthermore, instructors strive to help create a learning environment that
      supports a diversity of thoughts, perspectives and experiences, and honors
      your identities (including race, gender, class, sexuality, religion,
      ability, etc.).
    </p>
    <p><strong>To help accomplish this:</strong></p>
    <ul>
      <li>
        <p>
          If you use a name and/or pronouns that differ from those that appear
          in your official records, please let your instructor know.
        </p>
      </li>
      <li>
        <p>
          If you feel that your learning is being impacted by your experiences
          outside of class, please reach out or talk with your instructor or
          advisor. We want to be a resource for you.
        </p>
      </li>
      <li>
        <p>
          We are continuously in the process of learning about diverse
          perspectives and identities. If something was said in class (by
          anyone) that made you feel uncomfortable, please talk to your
          instructor about it or reach out to the Office of Equity, Diversity
          &amp; Inclusion.
        </p>
      </li>
    </ul>
    <p>
      Unfortunately, incidents of bias or discrimination do occur, whether
      intentional or unintentional, and they can contribute to creating an
      unwelcoming environment for individuals or groups at the college. If you
      experience or observe unfair or hostile treatment on the basis of
      identity, we encourage you to speak out for justice and support. To report
      an incident or access support and resources, contact the Office of Equity,
      Diversity &amp; Inclusion,
      <a href="file:///Volumes/biggie/syllabi/src/components/equity@wwcc.edu"
        >equity@wwcc.edu</a
      >, 509-527-4300.
    </p>
  </dd>
  <dt>
    <h3>Accommodations for Students with Disabilities</h3>
  </dt>
  <dd>
    <p>
      WWCC complies with Section 504 of the Rehabilitation Act and the Americans
      with Disabilities Act (ADA) of 1990 as amended in 2008. Information
      regarding student accommodations may be obtained by contacting (Walla
      Walla) Kristen Duede, Coordinator of Disability Support Services,
      <a href="mailto:kristen.duede@wwcc.edu">kristen.duede@wwcc.edu</a>,
      509-223-2099; or (Clarkston) Heather Markwalter,
      <a href="mailto:heather.markwalter@wwcc.edu"
        >heather.markwalter@wwcc.edu</a
      >, 509-758-1721. The Section 504 Coordinator is responsible for monitoring
      and implementing the district&#x2019;s compliance with state and federal
      laws prohibiting disability discrimination. Brooke Marshall, Vice
      President of Human Resources, 500 Tausick Way, Walla Walla, WA 99362;
      <a href="mailto:brooke.marshall@wwcc.edu">brooke.marshall@wwcc.edu</a>,
      509-527-4382, serves as the Section 504 Coordinator.
    </p>
  </dd>
  <dt><h3>Counseling Services</h3></dt>
  <dd>
    <p>
      WWCC offers free, confidential, short-term counseling services to enrolled
      students. In-person counseling is offered on the Walla Walla campus.
      Online counseling is offered for students from both campuses. Students
      must be physically located in the State of Washington at the time of an
      online counseling appointment. WWCC Counselors can connect students to
      community resources and provide referrals to mental health services in the
      community.
    </p>

    <h4>TalkCampus App</h4>
    <p>
      TalkCampus is a 24/7, anonymous, free app to talk with other students from
      around the world about the ups and downs of college life. Download
      TalkCampus from the app stores for free using your student email address.
      More info is available at: TalkCampus Sign-up
    </p>
    <h3>Contact a Counselor Directly</h3>

    <p>If you are in distress or crisis, please call (available 24 hours):</p>
    <ul>
      <li><strong>911</strong> - for emergency</li>
      <li><strong>988</strong> - for National Suicide Prevention Lifeline</li>
      <li>
        Text <strong>HEAL</strong> to 741741 to connect with a crisis counselor
      </li>
      <li>
        <strong>Blue Mountain Health Cooperative</strong> in Walla Walla offers
        free, walk-in
      </li>
      <li><strong>Counseling services:</strong> 509-973-5788</li>
      <li><strong>Walla Walla Crisis Response:</strong> 509-524-2999</li>
      <li>
        <strong>YWCA Crisis Line:</strong> Walla Walla 509-529-9922 / Clarkston
        800-669-3176
      </li>
      <li><strong>Clarkston Crisis:</strong> 1-800-970-3785</li>
      <li><strong>Umatilla Region Crisis Line:</strong> 541-240-8030</li>
      <li><strong>Trevor Lifeline (LGBTQ):</strong> 866-488-7386</li>
      <li><strong>Trans Lifeline:</strong> 877-565-8860</li>
      <li><strong>National Sexual Assault Hotline:</strong> 1-800-656-4673</li>
    </ul>
  </dd>
  <dt>
    <h3>Affirmative Action/Equal Opportunity Statement:</h3>
  </dt>
  <dd>
    <p>
      Walla Walla Community College District #20 (WWCC) is committed to
      providing equal opportunity for all educational and employment applicants
      as well as for its students and employed staff, without regard to race,
      color, creed, national origin, sex, sexual orientation, including gender
      expression/identity, genetic information, marital status, age (over 40),
      the presence of any sensory, mental, or physical disability, the use of
      trained guide dog or service animal by a person with a disability, or
      status as a Vietnam and/or disabled veteran, National Guard member or
      reservist in accordance with the Civil Rights Act of 1964, Title IX of the
      Education Amendments of 1972, the Federal Rehabilitation Act of 1973, the
      Americans with Disabilities Act of 1990 and any other applicable Federal
      and Washington State laws against discrimination. Brooke Marshall, Vice
      President of Human Resources, 500 Tausick Way, Walla Walla, WA 99362;
      <a href="mailto:brooke.marshall@wwcc.edu">brooke.marshall@wwcc.edu</a>,
      509-527-4382, has Affirmative Action/Equal Opportunity, Title IX, and
      Section 504 compliance responsibility. The College&#x2019;s TTY number is
      also 509-527-4412.
    </p>
    <p>
      Reasonable Accommodations for Religion/Conscience: Students who will be
      absent from course activities due to reasons of faith or conscience may
      seek reasonable accommodations so that grades are not affected. Such
      requests must be made to the instructor within the first two weeks of the
      quarter. For additional information, please see the college&#x2019;s
      Student Rights and Responsibilities.
    </p>
  </dd>
  <dt><h3>Warrior Tutoring Services</h3></dt>
  <dd>
    <h4>Walla Walla Campus</h4>
    <p>
      In-person tutoring is offered in the Warrior Tutoring Services area in the
      east end of the Library on the Walla Walla campus, 8:00 AM &#x2019; 5:30
      PM, Monday-Friday, when school is in session. Tutors are available to help
      students with science, math, and writing classes, as well as other
      subjects. No appointment is necessary, just see the schedule board in the
      center for tutor hours and subject availability for the week.
    </p>

    <h5>Clarkston campus</h5>
    <p>
      In-person tutoring is offered on the Clarkston campus in room 129 of the
      Main Building when school is in session. Tutors are available to help
      students with math, science, accounting, and nursing; see the schedule
      board in the center for regularly scheduled times. For inquiries about
      tutoring availability or to set-up an appointment, contact the Clarkston
      TLC Coordinator, Sally Madsen-Bouterse
      <a href="mailto:sally.madsenbouterse@wwcc.edu"
        >sally.madsenbouterse@wwcc.edu</a
      >.
    </p>
    <p>
      In addition to tutoring, each center offers free use of calculators, study
      guides, textbooks, microscope slides, anatomy models, computers with
      printer access, and more. The centers are equipped with computers,
      headsets, and webcams for online classes or general study.
    </p>

    <h5>Online Tutoring</h5>
    <p>
      Warrior Tutoring Services also offers online tutoring. Go to this Canvas
      course and click &apos;join this course&apos; for more information. The
      course provides access to the tutor schedule with all tutors&#x2019;
      subject expertise and availability, both in-person and online. For an
      online tutoring session, click the blue highlighted name of a tutor on the
      schedule, and then click the Zoom link on their profile page. More about
      tutoring and additional resources are also available in Canvas.<br />
      Send questions or tutor requests to
      <a href="mailto:warriortutoring@wwcc.edu">warriortutoring@wwcc.edu</a>.
    </p>

    <h5>eTutoring</h5>
    <p>
      eTutoring is a consortium of tutors across Washington state that are
      available to WWCC students and offer support in a variety of classes,
      including reviewing and providing feedback on written work. Tutoring is
      available 7 days a week from 5 am to 11 pm, Pacific time. Click the
      eTutoring link in the navigation pane of any Canvas course to gain access
      to tutors for specific courses and see their shared schedule of
      availability.
    </p>
  </dd>

  <dt><h3>Warrior Resources Food Pantry Assistance</h3></dt>
  <dd>
    <p>
      The Warrior Resources Food Pantry is FREE and available to all registered
      students attending WWCC. The Food Pantry serves students with needs for
      food and other resources on a temporary basis and also offers connections
      to longer-term resources available on campus and through the community.
      The Food Pantry is located in Building D, room 245.
    </p>
    <p>
      Please bring your student ID card to access these resources. For more
      information, reach out to Food Pantry Coordinator Rebecca Tibbetts,
      <a href="mailto:rebecca.tibbetts@wwcc.edu">rebecca.tibbetts@wwcc.edu</a>,
      509-730-5321.
    </p>
  </dd>
</dl>
